$app-white-color: rgb(255, 255, 255);
$app-gray-color: rgb(89, 92, 82);
$app-gray-light-color: rgb(149, 149, 149);

$xs-screen: 480px;
$s-screen: 576;
$m-screen: 768px;
$lg-screen: 992px;
$xl-screen: 1200px;
$xxl-screen: 1400px;
